@model IEnumerable<Models.Resturant>

@{
    ViewBag.Title = "GetAll";
}

<h2>Showing All</h2>

<div>
    <h4>Resturants</h4>
    <hr />
    @foreach (var res in Model)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => res.rs_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => res.rs_id)
        </dd>

        <dt>
            @Html.LabelFor(model => res.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => res.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => res.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => res.Address)
        </dd>

        <dt>
            @Html.LabelFor(model => res.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => res.City)
        </dd>

        <dt>
            @Html.LabelFor(model => res.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => res.State)
        </dd>

        <dt>
            @Html.LabelFor(model => res.FoodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => res.FoodType)
        </dd>

    </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
